{% extends '_base.njk' %}


{% block content %}  
    <main class="container">
    <h1>Coffee brewing calculator</h1>
        <div class="row mb-3">
            <div class="col">
                <div class="group">
                    <label for="beans">Coffee beans</label>
                    <input type='number' id="beans" value="8" min=''><span class="ps-1">g</span>
                </div>
            </div>

            <div class="col">
                <div class="group">
                    <label for="water">Water</label>
                    <input type='number' id="water" value="128" min=''><span class="ps-1">ml</span>
                </div>
            </div>

            <div class="col">
                <div class="group">
                    <label for="ratio">Ratio</label>
                    <input type='number' id="ratio" value="16" min=''><span class="ps-1">: 1</span>
                </div>
            </div>

            <div class="col">
                <div class="group">
                    <label for="yield">Coffee yield</label>
                    <input type='number' id="yield" value="115.2" min=''><span class="ps-1">ml</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="group">
                    <label for="timer">Timer</label>
                    <input type='number' id="timer" value="0.1" min='0'><span class="ps-1">min</span>
                </div>
            </div>

            <div class="col">
                <div class="group input-group">
                    <label for="timer-transfer"></label>
                    <input disabled type='text' id="timer-transfer">
                        <div class="buttons">
                            <button type="button" id="start" class="btn btn-success">Start</button>
                            <button type="button" id="stop" class="btn btn-danger">Stop</button>
                            <button type="button" id="reset" class="btn btn-dark">Reset</button>
                        </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
